<html>
<head>
  <title>Sound-wav.es</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <h1>Sound-wav.es</h1>

  <input  id="tempo" type="range" min="40" max="240" step="1" />
  <button id="metronome-toggle">Toggle Metronome</button>
  <button id="play">Play</button>
  <button id="stop">Stop</button>
  <table>
    <tbody>
      <tr>
        <td id="a1" class="active"></td>
        <td id="a2"></td>
        <td id="a3"></td>
        <td id="a4"></td>
        <td id="a5" class="active"></td>
        <td id="a6"></td>
        <td id="a7"></td>
        <td id="a8"></td>
        <td id="a9" class="active"></td>
        <td id="a10"></td>
        <td id="a11"></td>
        <td id="a12"></td>
        <td id="a13" class="active"></td>
        <td id="a14"></td>
        <td id="a15"></td>
        <td id="a16"></td>
      </tr>
      <tr>
        <td id="b1"></td>
        <td id="b2"></td>
        <td id="b3" class="active"></td>
        <td id="b4"></td>
        <td id="b5"></td>
        <td id="b6"></td>
        <td id="b7" class="active"></td>
        <td id="b8"></td>
        <td id="b9"></td>
        <td id="b10"></td>
        <td id="b11" class="active"></td>
        <td id="b12"></td>
        <td id="b13"></td>
        <td id="b14"></td>
        <td id="b15" class="active"></td>
        <td id="b16"></td>
      </tr>
      <tr>
        <td id="c1"></td>
        <td id="c2" class="active"></td>
        <td id="c3"></td>
        <td id="c4" class="active"></td>
        <td id="c5"></td>
        <td id="c6" class="active"></td>
        <td id="c7"></td>
        <td id="c8" class="active"></td>
        <td id="c9"></td>
        <td id="c10" class="active"></td>
        <td id="c11"></td>
        <td id="c12" class="active"></td>
        <td id="c13"></td>
        <td id="c14" class="active"></td>
        <td id="c15"></td>
        <td id="c16" class="active"></td>
      </tr>
      <tr>
        <td id="d1"></td>
        <td id="d2"></td>
        <td id="d3"></td>
        <td id="d4"></td>
        <td id="d5"></td>
        <td id="d6"></td>
        <td id="d7"></td>
        <td id="d8"></td>
        <td id="d9"></td>
        <td id="d10"></td>
        <td id="d11"></td>
        <td id="d12"></td>
        <td id="d13"></td>
        <td id="d14"></td>
        <td id="d15"></td>
        <td id="d16"></td>
      </tr>
    </tbody>
  </table>

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
