<html>
<head>
  <title>Sound-wav.es</title>
  <link rel="stylesheet" type="text/css" href="/select2/select2.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <h1>Sound-wav.es</h1>

  <div>
    <label name="tempo">Tempo</label>
    <input  name="tempo" id="tempo" type="range" min="40" max="240" step="1" value="<%= sequencer.tempo || 120 %>" />
  </div>

  <div>
    <button id="metronome-toggle">Toggle Metronome</button>
    <button id="play">Play</button>
    <button id="stop">Stop</button>
  </div>

  <div>
    <label name="search">Search</label>
    <input name="search" id="search" type="text"></input>

    <label name="selected-track">-> to track -></label>
    <select name="selected-track" id="selected-track">
        <option value="0">A</option>
        <option value="1">B</option>
        <option value="2">C</option>
        <option value="3">D</option>
    </select>

    <button id="add-to-track">Add sample to track!</button>
  </div>

  <table id="sequencer">
    <tbody>
      <% var verticalNames = ['a', 'b', 'c', 'd'] %>
      <% for (var i=0; i < verticalNames.length; i++) { %>
        <tr>
          <% for (var j=0; j < 16; j++) { %>
            <% var gridRef = verticalNames[i] + j; %>
            <td id="<%= gridRef %>"<% if (sequencer[gridRef] && (sequencer[gridRef] == 1)) { %> class="active"<% } %>></td>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>

  <object id="Jazz1" classid="CLSID:1ACE1618-1C7D-4561-AEE1-34842AA85E90" class="hidden">
    <object id="Jazz2" type="audio/x-jazz" class="hidden">
      <p style="visibility:visible;">This page requires <a href="//jazz-soft.net">Jazz-Plugin</a> ...</p>
    </object>
  </object>

  <script type="text/javascript" src="//connect.soundcloud.com/sdk.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/select2/select2.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
