body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
 visibility: hidden;
 width: 0px;
 height: 0px;
 margin: 0px;
 padding: 0px;
 border-style: none;
 border-width: 0px;
 max-width: 0px;
 max-height: 0px;
}

#sequencer {
  width: 90%;
  height: 30rem;
  margin: 1rem auto;
}

#sequencer tr td {
  width: 5%;
  height: 10%;
  border: 1px solid #aaa;
}

#sequencer tr td.active {
  background-color: #aaa;
}

#sequencer tr td.highlighted {
  background-color: #ddd;
}

#sequencer tr td.active.highlighted {
  background-color: #888;
}

#search {
  width: 300px;
}

#selected-track {
  width: 50px;
}
